{{define "third/adsbygoogle"}}
<div class="{{ .Class }}">
<ins class="adsbygoogle"
    style="display:block"
    data-ad-format="{{ default .Format "auto" }}"
    data-ad-layout-key="{{ .LayoutKey }}"
    data-ad-client="{{ .Client }}"
    data-ad-slot="{{ .Slot }}"
    data-full-width-responsive="{{ default .WidthResponsive "true" }}"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{{ end }}