{{define "third/adsense-google"}}
{{ if .Page.Site.GoogleAdsense }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Page.Site.GoogleAdsense }}" crossorigin="anonymous"></script>
{{ end }}
{{ end }}
