{{define "third/adsense-google"}}
{{ if .Site.GoogleAdsense }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ .Site.GoogleAdsense }}" crossorigin="anonymous"></script>
{{ end }}
{{ end }}
