{{define "third/analytics-google"}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Page.Site.GoogleAnalytics }}"></script>
<script>
  if (CONFIG.page.site.hostname === location.hostname) {
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', '{{ .Page.Site.GoogleAnalytics }}')
  }
</script>
{{end}}
