{{define "third/disqusapi"}}
<link rel="stylesheet" href="{{ .Page.Site.Disqus.Apihost }}/dist/iDisqus.min.css" />
<script src="{{ .Page.Site.Disqus.Apihost }}/dist/iDisqus.min.js"></script>
<script>
  if (CONFIG.page.site.hostname === location.hostname) {
    var disq = new iDisqus('comments', {
      forum: '{{ .Page.Site.Disqus.Shortname }}',
      site: '{{ .Page.Site.Disqus.Site }}',
      api: '{{ .Page.Site.Disqus.API }}',
      mode: '{{ .Page.Site.Disqus.Mode }}',
      badge: '{{ .Page.Site.Disqus.Badge }}',
      timeout: '{{ .Page.Site.Disqus.Timeout }}',
      init: true,
      url: '{{ .Page.Permalink }}'
    })
    disq.count()
  }
</script>
{{ end }}
