.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag{
    padding: 5px 12px;
    border-radius: 10px;
    background-color: var(--code-bg-color);
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
