{{define "includes/footer"}}
  {{template "third/analytics-google" $}}
  {{template "third/analytics-baidu" $}}
  {{template "third/adsense-google" $}}
  
  {{template "includes/vendors" $}}

  {{template "third/disqusapi" $}}
{{end}}