{{define "includes/header"}}
  <!-- <link rel="preload" as="style" href="/static/css/d.css" onload="this.onload=null;this.rel='stylesheet'"> -->
  <link rel="stylesheet" href="/static/css/d.css?v={{ .Page.Version }}">
  <script id="hexo-configurations">
    var CONFIG = JSON.parse('{{ . | jsonEncode }}');
  </script>

  <script type="importmap">
  {
    "imports": {
      "/static/js/d.js": "/static/js/d.js?v={{ .Page.Version }}",
      "/static/js/util.js": "/static/js/util.js?v={{ .Page.Version }}"
    }
  }
  </script>

  <script type="module" src="/static/js/d.js?v={{ .Page.Version }}" async></script>
{{end}}