{{template "layout" $}}

{{define "body"}}
<script src="/static/js/youtube/download.js?v={{ .Page.Version }}" type="module"></script>
<link rel="stylesheet" href="/static/css/youtube/index.css?v={{ .Page.Version }}" />
<link rel="stylesheet" href="/static/css/youtube/download.css?v={{ .Page.Version }}" />
<link rel="stylesheet" href="/static/css/switch.css?v={{ .Page.Version }}" />
<link rel="stylesheet" href="/static/css/mask.css?v={{ .Page.Version }}" />
<link rel="stylesheet" href="/static/css/loading.css?v={{ .Page.Version }}" />
<article id="page">
  <h1 class="title">{{ .Page.BodyName }}</h1>
  <div class="title_desc_box">
    <span class="desc_item"
      >{{ I "title-desc-use" }}: <span>{{ .DownloadTotal | numFormat }}</span></span
    >
    <span class="desc_item">{{ I "title-desc-comment" }}: <span class="disqus-count" data-disqus-url="{{ .Page.Permalink }}" data-disqus-identifier="{{ .Page.Permalink }}">0</span></span>
  </div>
  <div class="content">
    <div class="video_box">
      <div class="video_info_box">
        <div class="video">
          <a class="video_link nofancybox" target="_blank" href="https://www.youtube.com/watch?v={{ .Info.ID }}">
            <img class="video_thumbnail lazyload" src="{{ .Info.Snippet.Thumbnails.High.Url }}" alt="{{ .Info.Snippet.Title }}" />
          </a>
          <div class="video_info">
            <div class="video_title">{{ .Info.Snippet.Title }}</div>
            <p class="video_description">{{ .Info.Snippet.Description }}</p>
            {{if ne .PlayabilityStatus "OK" }}
            <p class="down_unplayable">{{ I "down-unplayable" }}</p>
            {{end}}
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 20px;">
      {{template "third/adsbygoogle" index $.Page.AdsConfig 0 }}
    </div>
    <div class="downopt_box">
      <p class="down_title">{{ I "down-opt-title" }}</p>
      <div class="down_content downopt_content">
        <div class="row">
          <div class="head">{{ I "down-opt-fast" }}</div>
          <div class="value mg_r_15">
            <label class="switch">
              <input type="checkbox" id="to-fast" />
              <span class="slider round"></span>
            </label>
          </div>
          <div class="tips"><span>{{ I "down-opt-fast-tips" }}</span></div>
        </div>
        <div class="row">
          <div class="head">{{ I "down-opt-audio" }}</div>
          <div class="value">
            <label class="switch">
              <input type="checkbox" id="has-audio" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="download_list">
      <p class="down_title">{{ I "down-list-title" }}</p>
      <div class="down_content">
        <div class="tips"><span>{{ I "down-use-idm" }}</span></div>
        <div class="download_item download_header {{ I "lng" }}">
          <span class="item">{{ I "down-quality" }}</span>
          <span class="item">{{ I "down-fps" }}</span>
          <span class="item">{{ I "down-bitrate" }}</span>
          <span class="item">{{ I "down-format" }}</span>
          <span class="item">{{ I "down-audio" }}</span>
          <span class="item">{{ I "down-size" }}</span>
          <span class="item">{{ I "down-download" }}</span>
          <span class="item">{{ I "down-vip" }}</span>
        </div>
        {{ range .DownloadList }}
        <div class="download_item download_content" data-quality="{{ .F.Quality }}" data-itag="{{ .F.ItagNo }}" data-ext="{{ .Ext }}" data-audio="{{ if gt .F.AudioChannels 0}}1{{else}}0{{ end }}">
          <span class="item">{{ if .F.QualityLabel }}{{ .F.QualityLabel }}{{else}}{{ .F.Quality }}{{ end }}</span>
          <span class="item">{{ if .F.FPS}}{{ .F.FPS }}{{ end }}</span>
          <span class="item">{{ .F.Bitrate | bpsFormat }}</span>
          <span class="item" title="iTAG: {{ .F.ItagNo }}">{{ .Ext }}</span>
          <span class="item audio" data-audio="{{ if gt .F.AudioChannels 0}}1{{else}}0{{ end }}">{{ if gt .F.AudioChannels 0}}✔{{else}}{{ end }}</span>
          <span class="item">{{ if .F.ContentLength }}{{ .F.ContentLength | sizeFormat }}{{else}}-{{ end }}</span>
          <span class="item down down-standard">
            <a rel="nofollow" class="download_box" target="_blank" href="{{ .F.URL_PROXY }}" download="{{ $.Info.Snippet.Title }}" title="{{ I "down-use-idm" }}">
              <span class="download_btn"></span>
            </a>
          </span>
          <span class="item down down-fast" style="display: none;">
            <a rel="nofollow" class="download_box" target="_blank" href="{{ .F.URL }}" download="{{ $.Info.Snippet.Title }}" title="{{ I "down-use-idm" }}">
              <span class="download_btn"></span>
            </a>
          </span>
          <!--
          <span class="item view down-standard">
            <a rel="nofollow" class="download_box" target="_blank" href="{{ .F.URL_PROXY }}&online=1">
              <span class="online_btn"></span>
            </a>
          </span>
          <span class="item view down-fast" style="display: none;">
            <a rel="nofollow" class="download_box" target="_blank" href="{{ .F.URL }}">
              <span class="online_btn"></span>
            </a>
          </span>
          -->
          <span class="item down-vip">
            <a rel="nofollow" class="download_box" href="javascript:void(0);">
              <span class="download_btn download_btn_vip"></span>
            </a>
          </span>
        </div>
        {{ end }}
        <div class="tips"><span>{{ I "down-list-tips" }}</span></div>
        <div class="tips"><span>{{ I "down-list-tips-2" }}</span></div>
      </div>
    </div>
    <div style="padding-top: 20px;">
      {{template "third/adsbygoogle" index $.Page.AdsConfig 0 }}
    </div>
    <div class="addaudio_list">
      <p class="down_title">{{ I "down-videoaudio-title" }}</p>
      <p class="down_title_2">1. {{ I "down-vipvideoaudio-title" }}</p>
      <div class="down_content downopt_content">
        <div class="p_10_0"><div>{{ I "down-vipvideoaudio-desc1" }} <code>{{ .Page.Site.PayAmount }}</code> ({{ I "down-vipvideoaudio-desc2" }} <del>{{ .Page.Site.CrossedAmount }}</del>) {{ I "down-vipvideoaudio-desc3" }}</div></div>
      </div>
      <p class="down_title_2">2. {{ I "down-addaudio-title" }}</p>
      <div class="down_content downopt_content">
        <div class="p_10_0"><div>{{ I "down-addaudio-desc" }}</div></div>
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="/static/images/down-addaudio-desc.png" alt="{{ I "down-addaudio-title" }}" width="200"/>
      </div>
      <p class="down_title_2">3. {{ I "down-ffmpeg-title" }}</p>
      <div class="down_content downopt_content">
        <div class="p_10_0">
          <pre>ffmpeg -i video.webm -i audio.weba -vcodec copy output.mp4</pre>
          <p>{{ I "down-ffmpeg-desc" }}</p>
          <p>FFmpeg Download: <a href="https://ffmpeg.org/download.html" target="_blank" rel="noopener noreferrer">https://ffmpeg.org/download.html</a></p>
          <p>Windows: <code>winget install ffmpeg</code></p>
          <p>Mac: <a href="https://evermeet.cx/ffmpeg/" target="_blank" rel="noopener noreferrer">https://evermeet.cx/ffmpeg/</a></p>
        </div>
      </div>
    </div>
    <div style="padding-top: 20px;">
      {{template "third/adsbygoogle" index $.Page.AdsConfig 0 }}
    </div>
  </div>
</article>
{{ end }}
