{{template "layout" $}}

{{define "body"}}
<link rel="stylesheet" href="/static/css/youtube/index.css" />
<article id="page">
  <h1 class="title">{{ .Page.BodyName }}</h1>
  <div class="content">
    <div class="video_box">
      <div class="video_info_box">
        <div class="video">
          <a class="video_link" target="_blank" href="https://www.youtube.com/watch?v={{ .Info.ID }}">
            <img class="video_thumbnail" src="{{ .Info.Snippet.Thumbnails.High.Url }}" alt="{{ .Info.Snippet.Title }}" />
          </a>
          <div class="video_info">
            <div class="video_title">{{ .Info.Snippet.Title }}</div>
            <p class="video_description">{{ .Info.Snippet.Description }}</p>
            {{if ne .Playability.Status "OK" }}
            <p class="down_unplayable">{{ I "down-unplayable" }}</p>
            {{end}}
          </div>
        </div>
      </div>
    </div>
    <div class="download_list">
      <div class="download_item download_header">
        <span class="item">{{ I "down-quality" }}</span>
        <span class="item">{{ I "down-fps" }}</span>
        <span class="item">{{ I "down-bitrate" }}</span>
        <span class="item">{{ I "down-format" }}</span>
        <span class="item">{{ I "down-audio" }}</span>
        <span class="item">{{ I "down-size" }}</span>
        <span class="item">{{ I "down-download" }}</span>
      </div>
      {{ range .DownloadList }}
      <div class="download_item">
        <span class="item">{{ if .F.QualityLabel }}{{ .F.QualityLabel }}{{else}}{{ .F.Quality }}{{ end }}</span>
        <span class="item">{{ if .F.FPS}}{{ .F.FPS }}{{ end }}</span>
        <span class="item">{{ .F.Bitrate | bpsFormat }}</span>
        <span class="item" title="iTAG: {{ .F.ItagNo }}">{{ .Ext }}</span>
        <span class="item">{{ if gt .F.AudioChannels 0}}✔{{else}}{{ end }}</span>
        <span class="item">{{ if .F.ContentLength }}{{ .F.ContentLength | sizeFormat }}{{else}}-{{ end }}</span>
        <span class="item">
          <a rel="nofollow" class="download_box" target="_blank" href="{{ .F.URL }}" download="{{ $.Info.Snippet.Title }}">
            <span class="download_btn"></span>
          </a>
        </span>
      </div>
      {{ end }}
    </div>
  </div>
</article>
{{ end }}
