{{template "layout" $}}

{{define "body"}}
<link rel="stylesheet" href="/static/css/youtube/index.css" />
<article id="page">
  <h1 class="title">{{ .BodyName | html }}</h1>
  <div class="title_desc_box">
    <span class="desc_item"
      >{{ I "title-desc-use" }}: <span>{{ .DownloadTotal | numFormat }}</span></span
    >
    <span class="desc_item">{{ I "title-desc-comment" }}: <span class="disqus-count" data-disqus-url="{{ .Permalink }}" data-disqus-identifier="{{ .Permalink }}">0</span></span>
  </div>
  <div class="content">
    <div>
      <div class="center_box">
        <div class="search_box hover_shadow hover_bghigh">
          <input class="search_input" id="search" type="search" placeholder="{{ I "search-placeholder"}}"/>
          <span class="search_submit"></span>
        </div>
      </div>
      {{ range $key, $val := .PopularList }}
      <div class="popular_box">
        <h2 class="title">{{ .Title }}</h2>
        <div class="popular_videos_box">
          <div class="move_box">
            <span class="move_left_btn"></span>
          </div>
          <div class="videos_box">
            <div class="videos">
              {{ range $itemkey, $itemval := .Items }}
              <div class="video">
                <a class="video_link" href="/youtube/download?id={{ .ID }}">
                  <img class="video_thumbnail lazyload" data-src="{{ .Snippet.Thumbnails.High.Url }}" src="/static/images/whiteboard.svg" alt="{{ .Snippet.Title }}" />
                </a>
                <div class="video_info">
                  <a href="https://www.youtube.com/watch?v={{ .ID }}" target="_blank">
                    <div class="video_title" title="{{ .Snippet.Title }}">{{ .Snippet.Title }}</div>
                  </a>
                  <p class="video_description">{{ .Snippet.Description }}</p>
                  <a class="download_box absolute" href="/youtube/download?id={{ .ID }}">
                    <span class="download_btn"></span>
                  </a>
                </div>
              </div>
              {{ if eq $itemkey 3 }}
                <div class="video">{{template "third/adsbygoogle" index $.AdsConfig 0 }}</div>
              {{ end }}
              {{ end }}
            </div>
          </div>
          <div class="move_box move_right_box">
            <span class="move_right_btn"></span>
          </div>
        </div>
        {{ if eq $key 0 }}
        <div class="popular_videos_box">
          <!-- {{template "third/adsbygoogle" index $.AdsConfig 1 }} -->
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
  <script src="/static/js/youtube/search.js" type="module"></script>
</article>
{{ end }}
