{{template "layout" $}}

{{define "body"}}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" defer=""></script>
  <article id="page">
    <h1 class="title">{{ .Page.BodyName }}</h1>
    <div class="content">
      <p>{{ I "about-title" }}</p>
      <ul>
        <li>Mail: <a href="mailto:a@liu.app">a@liu.app</a>
        </li>
        <li>Telegram: <a target="_blank" rel="noopener" href="https://t.me/yezige">@yezige</a>
        </li>
        <li>Telegram 群: <a target="_blank" rel="noopener" href="https://t.me/youtubedown6">@youtubedown6</a>
        </li>
        <li>
          <div style="display: inline-flex; flex-wrap: wrap;">微信群:&nbsp;
            <div>
              <span style="display: block;">如图片过期请加助手微信：<code>xiaomianbaone</code></span>
              <img class="inline" src="/static/images/wechat.jpg?v={{ .Page.Version }}" width="200" height="auto"></img>
            </div>
          </div>
        </li>
      </ul>
      <p>{{ I "about-welcome" }}</p>
      <p>{{ I "about-cheers" }}</p>
    </div>
  </article>
{{end}}