{{define "layout"}}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    {{template "includes/meta" $}}
    {{template "includes/header" $}}
  </head>
  <body>
    <div class="background"></div>
    <section class="showbody">
      <header>
        <div class="header">
          <div class="toggle"></div>
          <a href="//{{ .Page.Site.Hostname }}"><h2 class="logo">{{ .Page.Site.Logo }}</h2></a>
          <div class="space"></div>
          <a class="explore btn" href="{{ I "sponsor-url" }}" target="_blank">{{ I "sponsor" }}</a>
        </div>
        <nav class="menu">
          {{range .Page.Site.Menu}}
          <a class="transform" href="{{ .url }}">{{ .name | I }}</a>
          {{end}}
        </nav>
      </header>
      <main class="main">
        <div id="content">
          {{template "body" $}}
          {{template "includes/comments"}}
        </div>
      </main>
      <footer>
        <div class="powered">
          <p class="author">Author <a class="transform" href="//twitter.com/aikuuer">@{{ .Page.Site.Author }}</a></p>
          <p class="designed">Web & Icons designed by Figma.</p>
          <p>Powered By <a class="transform" href="//github.com/gin-gonic/gin">Gin</a><span class="vertical_line">|</span><a class="transform" href="//liu.app">Theme D</a><span class="vertical_line">|</span><a class="transform" href="//paypal.me/yezige/">Paypal</a></p>
          <ul class="social">
            <li>
              <a rel="nofollow" class="transform" href="//twitter.com/aikuuer"><img src="/static/images/Twitter.svg" alt="Twitter" srcset="" /></a>
            </li>
            <li>
              <a rel="nofollow" class="transform" href="//instagram.com/liuxiaohuozi"><img src="/static/images/Instagram.svg" alt="Instagram" srcset="" /></a>
            </li>
            <li>
              <a rel="nofollow" class="transform" href="//t.me/yezige"><img src="/static/images/Telegram.svg" alt="Telegram" srcset="" /></a>
            </li>
          </ul>
        </div>
        <nav class="other_menu">
          <ul>
            <li><a class="transform" href="//www.liu.app" target="_black" title="Blog">BLOG</a></li>
            <li><a class="transform" href="//aii.ren/u/vnsZnzXt" target="_black" title="V2EX 小程序">V2EX Plus</a></li>
            <li><a class="transform" href="//marketplace.visualstudio.com/items?itemName=yezige.vscode-theme-green-eyecare" target="_black" title="VSCode 主题插件">Green Eyecare Theme</a></li>
            <li><a class="transform" href="//github.com/yezige/yuque-search" target="_black" title="Chrome 插件">语雀搜索</a></li>
            <li><a class="transform" href="//icons.liu.app" target="_black" title="图标库">ICONS</a></li>
          </ul>
        </nav>
        <div class="license">
          <p>© 2022 Liu.app <span class="with-love"><i class="fa fa-heart"></i></span> Yezi <span class="vertical_line">|</span> The copyright of the video belongs to the author.</p>
        </div>
      </footer>
    </section>
    {{template "includes/footer" $}}
  </body>
</html>
{{end}}
